<div class="bs-example">
    <div class="form-group">
        <label for="inputEmail">BoolValue</label>
        <input type="checkbox" class="form-control" id="boolValue" name="BoolValue" placeholder="BoolValue">
    </div>
    <div class="form-group">
        <label for="inputPassword">StringValue</label>
        <input type="text" class="form-control" id="stringValue" name="StringValue" placeholder="StringValue">
    </div>
    <button type="button" class="btn btn-primary" id="createDataBtn">Create Data</button>
    <div class="bs-example" id="errorcreate"></div>
</div>
